<ul id="components-navigation" class="flex flex-col md:flex-row gap-x-4 mb-8">
  <li>
    <%= link_to 'Board', board_components_path %>
  </li>
  <li>
    <%= link_to 'Colors', colors_components_path %>
  </li>
  <li>
    <%= link_to 'Fonts', fonts_components_path %>
  </li>
  <li>
    <%= link_to 'Interface', interface_components_path %>
  </li>
  <li>
    <%= link_to 'Ships', ships_components_path %>
  </li>
  <li class="mt-4 md:mt-0 md:ml-6">
    <%= link_to 'Demo →', root_path %>
  </li>
  <li>
    <%= link_to 'GitHub →', 'https://github.com/dankimio/battleship', target: :blank %>
  </li>
</ul>
