<div class="container mx-auto px-8 py-8">
  <h1 class="text-5xl font-bold mb-8">Board</h1>

  <%= render 'navigation' %>

  <h2 class="header-1 mb-8">Board / grid</h2>

  <%# Main player: board %>
  <%= render 'board_letters' %>
  <div class="flex flex-row mb-12">
    <%= render 'board_numbers' %>

    <div class="relative">
      <div class="board board-main">
        <% 10.times do %>
          <div class="board-atom"></div>
          <div class="board-atom"></div>
          <div class="board-atom"></div>
          <div class="board-atom"></div>
          <div class="board-atom"></div>
          <div class="board-atom"></div>
          <div class="board-atom"></div>
          <div class="board-atom"></div>
          <div class="board-atom"></div>
          <div class="board-atom"></div>
          <div></div>
        <% end %>
      </div>

      <%# Main player: ships %>
      <div class="absolute top-0 pointer-events-none">
        <div class="board board-main">
          <%= render AircraftCarrierComponent.new(direction: :vertical, position: [2, 1]) %>
          <%= render CruiserComponent.new(direction: :horizontal, position: [4, 4]) %>
          <%= render DestroyerComponent.new(direction: :vertical, position: [6, 6]) %>
          <%= render DestroyerComponent.new(direction: :horizontal, position: [1, 7]) %>
          <%= render SubmarineComponent.new(direction: :horizontal, position: [1, 9]) %>
          <%= render BattleshipComponent.new(direction: :horizontal, position: [5, 10]) %>
          <%= render AircraftCarrierComponent.new(direction: :horizontal, position: [4, 2]) %>
        </div>
      </div>
    </div>
  </div>

  <%# Board: opponent %>
  <%= render 'board_letters' %>
  <div class="flex flex-row mb-12">
    <%= render 'board_numbers' %>

    <div class="board board-opponent">
      <% 10.times do %>
        <div class="board-atom"></div>
        <div class="board-atom"></div>
        <div class="board-atom"></div>
        <div class="board-atom"></div>
        <div class="board-atom"></div>
        <div class="board-atom"></div>
        <div class="board-atom"></div>
        <div class="board-atom"></div>
        <div class="board-atom"></div>
        <div class="board-atom"></div>
        <div></div>
      <% end %>
    </div>
  </div>

  <h2 class="header-1 mb-8">Shipyard</h2>

  <div class="mb-12 flex flex-row items-center gap-4">
    <p class="uppercase font-semibold text-xs text-gray-0">Full</p>
    <p class="uppercase font-semibold text-xs text-gray-0 -rotate-90">Shipyard</p>
    <div class="flex flex-col gap-2">
      <div class="flex flex-row gap-2">
        <%= render BattleshipComponent.new(direction: :horizontal, position: [0, 0]) %>
        <%= render SubmarineComponent.new(direction: :horizontal, position: [0, 0]) %>
        <%= render CruiserComponent.new(direction: :horizontal, position: [0, 0]) %>
      </div>
      <div class="flex flex-row gap-2">
        <%= render AircraftCarrierComponent.new(direction: :horizontal, position: [0, 0]) %>
        <%= render DestroyerComponent.new(direction: :horizontal, position: [0, 0]) %>
      </div>
    </div>
  </div>

  <div class="mb-12 flex flex-row items-center gap-4">
    <p class="uppercase font-semibold text-xs text-gray-0">Full</p>
    <p class="uppercase font-semibold text-xs text-gray-0 -rotate-90">Shipyard</p>
    <div class="flex flex-col gap-2">
      <div class="flex flex-row gap-2">
        <%= render BattleshipComponent.new(direction: :horizontal, position: [0, 0], silhouette: true) %>
        <%= render SubmarineComponent.new(direction: :horizontal, position: [0, 0], silhouette: true) %>
        <%= render CruiserComponent.new(direction: :horizontal, position: [0, 0], silhouette: true) %>
      </div>
      <div class="flex flex-row gap-2">
        <%= render AircraftCarrierComponent.new(direction: :horizontal, position: [0, 0], silhouette: true) %>
        <%= render DestroyerComponent.new(direction: :horizontal, position: [0, 0], silhouette: true) %>
      </div>
    </div>
  </div>

  <h2 class="header-1 mb-8">Board / name</h2>

  <div class="w-96 board-name board-name-main mb-4">
    Your fleet
  </div>

  <div class="w-96 board-name board-name-opponent">
    Your fleet
  </div>
</div>
