<div class="container mx-auto px-8 py-8">
  <h1 class="text-5xl font-bold mb-8">Board</h1>

  <%= render 'navigation' %>

  <h2 class="header-1 mb-8">Board / grid</h2>

  <%# Main player: board %>
  <%= render 'board_letters' %>
  <div class="flex flex-row mb-12">
    <%= render 'board_numbers' %>

    <div class="relative">
      <div class="board board-main">
        <% 10.times do %>
          <div class="board-atom"></div>
          <div class="board-atom"></div>
          <div class="board-atom"></div>
          <div class="board-atom"></div>
          <div class="board-atom"></div>
          <div class="board-atom"></div>
          <div class="board-atom"></div>
          <div class="board-atom"></div>
          <div class="board-atom"></div>
          <div class="board-atom"></div>
          <div></div>
        <% end %>
      </div>

      <%# Main player: ships %>
      <div class="absolute top-0 pointer-events-none">
        <div class="board board-main">
          <div class="ship ship-vertical items-center col-span-1 row-span-5 col-start-2 pointer-events-auto">
            <div class="spacer spacer-edge"></div>
            <div class="atom front-aircraft-carrier"><div class="hit"></div></div>
            <div class="spacer spacer-between"></div>
            <div class="atom middle"><div class="hit"></div></div>
            <div class="spacer spacer-between"></div>
            <div class="atom middle"><div class="hit"></div></div>
            <div class="spacer spacer-between"></div>
            <div class="atom middle"><div class="hit"></div></div>
            <div class="spacer spacer-between"></div>
            <div class="atom back-aircraft-carrier"><div class="hit"></div></div>
            <div class="spacer spacer-edge"></div>
          </div>

          <div class="ship ship-horizontal items-center col-span-5 row-span-1 row-start-2 col-start-4 pointer-events-auto">
            <div class="spacer spacer-edge"></div>
            <div class="atom back-aircraft-carrier"><div class="hit"></div></div>
            <div class="spacer spacer-between"></div>
            <div class="atom middle"><div class="hit"></div></div>
            <div class="spacer spacer-between"></div>
            <div class="atom middle"><div class="hit"></div></div>
            <div class="spacer spacer-between"></div>
            <div class="atom middle"><div class="hit"></div></div>
            <div class="spacer spacer-between"></div>
            <div class="atom front-default"><div class="hit"></div></div>
            <div class="spacer spacer-edge"></div>
          </div>

          <%= render CruiserComponent.new(direction: :horizontal, position: [4, 4], hits: [false, false]) %>
        </div>
      </div>
    </div>
  </div>

  <%# Board: opponent %>
  <%= render 'board_letters' %>
  <div class="flex flex-row mb-12">
    <%= render 'board_numbers' %>

    <div class="board board-opponent">
      <% 10.times do %>
        <div class="board-atom"></div>
        <div class="board-atom"></div>
        <div class="board-atom"></div>
        <div class="board-atom"></div>
        <div class="board-atom"></div>
        <div class="board-atom"></div>
        <div class="board-atom"></div>
        <div class="board-atom"></div>
        <div class="board-atom"></div>
        <div class="board-atom"></div>
        <div></div>
      <% end %>
    </div>
  </div>

  <h2 class="header-1 mb-8">Shipyard</h2>

  <div class="mb-12 flex flex-row items-center gap-4">
    <p class="uppercase font-semibold text-xs text-gray-0">Full</p>
    <p class="uppercase font-semibold text-xs text-gray-0 -rotate-90">Shipyard</p>
    <div class="flex flex-col gap-2">
      <div class="flex flex-row gap-2">
        <div class="ship ship-horizontal items-center">
          <div class="atom back-default">
            <div class="hit"></div>
          </div>
          <div class="atom front-default">
            <div class="hit"></div>
          </div>
        </div>
        <div class="ship ship-horizontal items-center">
          <div class="atom back-default">
            <div class="hit"></div>
          </div>
          <div class="atom front-default">
            <div class="hit"></div>
          </div>
        </div>
      </div>
      <div class="flex flex-row gap-2">
        <div class="ship ship-horizontal items-center">
          <div class="atom back-default">
            <div class="hit"></div>
          </div>
          <div class="atom front-default">
            <div class="hit"></div>
          </div>
        </div>
        <div class="ship ship-horizontal items-center">
          <div class="atom back-default">
            <div class="hit"></div>
          </div>
          <div class="atom front-default">
            <div class="hit"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="header-1 mb-8">Board / name</h2>

  <div class="w-96 board-name board-name-main mb-4">
    Your fleet
  </div>

  <div class="w-96 board-name board-name-opponent">
    Your fleet
  </div>
</div>
