<div class="container mx-auto px-8 py-8">
  <h1 class="text-5xl font-bold mb-8">Board</h1>

  <%= render 'navigation' %>

  <h2 class="header-1 mb-8">Board / grid / atom</h2>

  <div id="board-atoms" class="components-grid grid gap-y-10 gap-x-12 mb-12"
    style="grid-template-columns: 50px 75px 75px"
  >
    <p></p>
    <p class="grid-header text-center">Main player</p>
    <p class="grid-header text-center">Opponent</p>

    <p class="grid-header text-right">Default</p>
    <div class="board-main grid">
      <%= render BoardAtomComponent.new %>
    </div>
    <div class="board-opponent grid">
      <%= render BoardAtomComponent.new %>
    </div>

    <p class="grid-header text-right">Hover</p>
    <div class="board-main grid">
      <%= render BoardAtomComponent.new(hover: true) %>
    </div>
    <div class="board-opponent grid">
      <%= render BoardAtomComponent.new(hover: true) %>
    </div>

    <p class="grid-header text-right">Miss</p>
    <div class="board-main grid">
      <%= render BoardAtomComponent.new(false) %>
    </div>
    <div class="board-opponent grid">
      <%= render BoardAtomComponent.new(false) %>
    </div>

    <p class="grid-header text-right">Hit</p>
    <div class="board-main grid">
    </div>
    <div class="board-opponent grid">
      <%= render BoardAtomComponent.new(true) %>
    </div>
  </div>

  <h2 class="header-1 mb-8">Board / grid</h2>

  <%= render BoardComponent.new(Board.empty(:main)) do %>
    <%= render AircraftCarrierComponent.new(direction: :vertical, position: [2, 1]) %>
    <%= render CruiserComponent.new(direction: :horizontal, position: [4, 4]) %>
    <%= render DestroyerComponent.new(direction: :vertical, position: [6, 6]) %>
    <%= render DestroyerComponent.new(direction: :horizontal, position: [1, 7]) %>
    <%= render SubmarineComponent.new(direction: :horizontal, position: [1, 9]) %>
    <%= render BattleshipComponent.new(direction: :horizontal, position: [5, 10]) %>
    <%= render AircraftCarrierComponent.new(direction: :horizontal, position: [4, 2]) %>
  <% end %>

  <%= render BoardComponent.new(Board.empty(:opponent)) %>

  <h2 class="header-1 mb-8">Shipyard</h2>

  <%= render ShipyardComponent.new %>

  <div class="mb-12 flex flex-row items-center gap-4">
    <p class="uppercase font-semibold text-xs text-gray-0 -rotate-90">Shipyard</p>
    <div class="flex flex-col gap-2">
      <div class="flex flex-row gap-2">
        <%= render BattleshipComponent.new(direction: :horizontal, silhouette: true) %>
        <%= render SubmarineComponent.new(direction: :horizontal, silhouette: true) %>
        <%= render CruiserComponent.new(direction: :horizontal, silhouette: true) %>
      </div>
      <div class="flex flex-row gap-2">
        <%= render AircraftCarrierComponent.new(direction: :horizontal, silhouette: true) %>
        <%= render DestroyerComponent.new(direction: :horizontal, silhouette: true) %>
      </div>
    </div>
  </div>

  <h2 class="header-1 mb-8">Graveyard</h2>

  <div class="mb-12 flex flex-row items-center gap-4">
    <p class="uppercase font-semibold text-xs text-gray-0 -rotate-90">Shipyard</p>
    <div class="grid grid-cols-2 gap-2">
      <span class="body">Cruiser (2 blocks)</span>
      <span class="body">Battleship (4 blocks)</span>

      <span class="body">Submarine (3 blocks)</span>
      <span class="body">Aircraft Carrier (5 blocks)</span>

      <span class="body">Destroyer (3 blocks)</span>
    </div>
  </div>

  <h2 class="header-1 mb-8">Board / name</h2>

  <div class="w-96 mb-4">
    <%= render BoardNameComponent.new(:main) %>
  </div>

  <div class="w-96 mb-4">
    <%= render BoardNameComponent.new(:opponent) %>
  </div>
</div>
