<%= content_for(:title, 'Board') %>

<div class="container mx-auto px-8 py-8">
  <h1 class="text-5xl font-bold mb-8">Board</h1>

  <%= render 'navigation' %>

  <h2 class="header-1 mb-8">Board / grid / atom</h2>

  <div id="board-atoms" class="components-grid grid gap-y-10 gap-x-12 mb-12"
    style="grid-template-columns: 50px 75px 75px"
  >
    <p></p>
    <p class="grid-header text-center">Main player</p>
    <p class="grid-header text-center">Opponent</p>

    <p class="grid-header text-right">Default</p>
    <div class="board-main grid">
      <%= render BoardAtomComponent.new %>
    </div>
    <div class="board-opponent grid">
      <%= render BoardAtomComponent.new %>
    </div>

    <p class="grid-header text-right">Hover</p>
    <div class="board-main grid">
      <%= render BoardAtomComponent.new(hover: true) %>
    </div>
    <div class="board-opponent grid">
      <%= render BoardAtomComponent.new(hover: true) %>
    </div>

    <p class="grid-header text-right">Miss</p>
    <div class="board-main grid">
      <%= render BoardAtomComponent.new(false) %>
    </div>
    <div class="board-opponent grid">
      <%= render BoardAtomComponent.new(false) %>
    </div>

    <p class="grid-header text-right">Hit</p>
    <div class="board-main grid">
    </div>
    <div class="board-opponent grid">
      <%= render BoardAtomComponent.new(true) %>
    </div>
  </div>

  <h2 class="header-1 mb-8">Board / grid</h2>

  <div class="mb-12">
    <%= render BoardComponent.new(Board.empty(:main)) %>
  </div>

  <div class="mb-12">
    <%= render BoardComponent.new(Board.empty(:opponent)) %>
  </div>

  <h2 class="header-1 mb-8">Shipyard</h2>

  <div class="mb-12">
    <%= render ShipyardComponent.new %>
  </div>

  <div class="mb-12">
    <div class="flex flex-row items-center gap-4">
      <p class="uppercase font-semibold text-xs text-gray-0" style="writing-mode: vertical-lr">
        Shipyard
      </p>
      <div class="flex flex-col gap-2">
        <div class="flex flex-row gap-2">
          <%= render ShipComponent.new(type: :battleship, direction: :horizontal, silhouette: true).with_variant(:battleship) %>
          <%= render ShipComponent.new(type: :submarine, direction: :horizontal, silhouette: true).with_variant(:submarine) %>
          <%= render ShipComponent.new(type: :cruiser, direction: :horizontal, silhouette: true).with_variant(:cruiser) %>
        </div>
        <div class="flex flex-row gap-2">
          <%= render ShipComponent.new(type: :aircraft_carrier, direction: :horizontal, silhouette: true).with_variant(:aircraft_carrier) %>
          <%= render ShipComponent.new(type: :destroyer, direction: :horizontal, silhouette: true).with_variant(:destroyer) %>
        </div>
      </div>
    </div>
  </div>

  <h2 class="header-1 mb-8">Graveyard</h2>

  <div class="mb-12">
    <%= render GraveyardComponent.new %>
  </div>

  <h2 class="header-1 mb-8">Board / name</h2>

  <div class="w-96 mb-4">
    <%= render BoardNameComponent.new(:main) %>
  </div>

  <div class="w-96 mb-4">
    <%= render BoardNameComponent.new(:opponent) %>
  </div>
</div>
