<div class="container px-8 py-8">
  <h1 class="text-5xl font-bold mb-8">Ships</h1>

  <%= render 'navigation' %>

  <h2 class="header-1 mb-8">Ships / atom</h2>

  <div class="components-grid grid gap-y-10 gap-x-12 mb-12" style="grid-template-columns: 150px 50px 50px 50px">
    <p></p>
    <p class="grid-header text-center">Default</p>
    <p class="grid-header text-center">Hover</p>
    <p class="grid-header text-center">Hit</p>

    <p class="grid-header text-right">Front default</p>
    <%= render ShipAtomComponent.new('front-default') %>
    <%= render ShipAtomComponent.new('front-default', hover: true) %>
    <%= render ShipAtomComponent.new('front-default', hit: true) %>

    <p class="grid-header text-right">Front Aircraft carrier</p>
    <%= render ShipAtomComponent.new('front-aircraft-carrier') %>
    <%= render ShipAtomComponent.new('front-aircraft-carrier', hover: true) %>
    <%= render ShipAtomComponent.new('front-aircraft-carrier', hit: true) %>

    <p class="grid-header text-right">Front Submarine</p>
    <%= render ShipAtomComponent.new('front-submarine') %>
    <%= render ShipAtomComponent.new('front-submarine', hover: true) %>
    <%= render ShipAtomComponent.new('front-submarine', hit: true) %>

    <p class="grid-header text-right">Middle</p>
    <%= render ShipAtomComponent.new('middle') %>
    <%= render ShipAtomComponent.new('middle', hover: true) %>
    <%= render ShipAtomComponent.new('middle', hit: true) %>

    <p class="grid-header text-right">Back aircraft carrier</p>
    <%= render ShipAtomComponent.new('back-aircraft-carrier') %>
    <%= render ShipAtomComponent.new('back-aircraft-carrier', hover: true) %>
    <%= render ShipAtomComponent.new('back-aircraft-carrier', hit: true) %>

    <p class="grid-header text-right">Back default</p>
    <%= render ShipAtomComponent.new('back-default') %>
    <%= render ShipAtomComponent.new('back-default', hover: true) %>
    <%= render ShipAtomComponent.new('back-default', hit: true) %>
  </div>


  <h2 class="header-1 mb-8">Ships / components</h2>

  <div class="grid gap-y-10 gap-x-12" style="grid-template-columns: 125px 50px 50px">
    <p></p>
    <p class="grid-header text-center">Default</p>
    <p class="grid-header text-center">Silhouette</p>

    <p class="grid-header text-right">Cruiser (2)</p>

    <%= render CruiserComponent.new(direction: :vertical) %>
    <%= render CruiserComponent.new(direction: :vertical, silhouette: true) %>

    <p class="grid-header text-right">Destroyer (3)</p>

    <%= render DestroyerComponent.new(direction: :vertical) %>
    <%= render DestroyerComponent.new(direction: :vertical, silhouette: true) %>


    <p class="grid-header text-right">Submarine (3)</p>

    <%= render SubmarineComponent.new(direction: :vertical) %>
    <%= render SubmarineComponent.new(direction: :vertical, silhouette: true) %>

    <p class="grid-header text-right">Battleship (4)</p>

    <%= render BattleshipComponent.new(direction: :vertical) %>
    <%= render BattleshipComponent.new(direction: :vertical, silhouette: true) %>


    <p class="grid-header text-right">Aircraft carrier (5)</p>

    <%= render AircraftCarrierComponent.new(direction: :vertical) %>
    <%= render AircraftCarrierComponent.new(direction: :vertical, silhouette: true) %>
  </div>

</div>
