<%= render BoardLettersComponent.new %>

<div class="flex flex-row">
  <%= render BoardNumbersComponent.new %>

  <div class="relative">
    <div class="board <%= classes %>">
      <% rows.each do |row| %>
        <%= render BoardRowComponent.new(row) %>
      <% end %>

      <!-- Ships -->
      <div class="absolute top-0 pointer-events-none">
        <div class="board <%= classes %>">
          <%= content %>
        </div>
      </div>
    </div>
  </div>
</div>
