<div id="home" class="bg-gray-6 h-screen">
  <div class="mb-12">
    <%= render TopbarComponent.new %>
  </div>

  <div class="px-4">
    <div class="max-w-5xl mx-auto bg-white rounded-xl p-8 md:p-16">
      <div class="flex flex-col lg:flex-row justify-between gap-12 md:gap-16">
        <div class="flex-1 flex flex-col gap-8 items-center">
          <div class="px-2 w-full">
            <%= render BoardNameComponent.new(:main) %>
          </div>

          <div class="mb-3">
            <%= render BoardComponent.new(Board.empty(:main)) do %>
              <%= render AircraftCarrierComponent.new direction: :vertical,
                position: [7, 6],
                hits: [true, true, true, true, true]
              %>
              <%= render BattleshipComponent.new(direction: :vertical, position: [9, 3])%>
              <%= render SubmarineComponent.new(direction: :horizontal, position: [3, 6]) %>
              <%= render DestroyerComponent.new(direction: :horizontal, position: [3, 2]) %>
              <%= render CruiserComponent.new(direction: :vertical, position: [6, 3]) %>
            <% end %>
          </div>

          <div class="self-start lg:ml-2">
            <%= render ShipyardComponent.new %>
          </div>
        </div>

        <div class="border-t lg:border-l border-gray-5"></div>

        <div class="flex-1 flex flex-col gap-8 items-center">
          <div class="px-2 w-full">
            <%= render BoardNameComponent.new(:opponent) %>
          </div>

          <div class="mb-3">
            <%= render BoardComponent.new(Board.empty(:opponent)) %>
          </div>

          <div class="self-start lg:ml-2">
            <%= render GraveyardComponent.new %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
