<div id="home" class="bg-gray-6 min-h-screen py-16">
  <div class="px-4 mb-12">
    <div class="max-w-5xl mx-auto bg-white rounded-xl p-8 md:p-16">
      <div class="flex flex-col lg:flex-row justify-between gap-12 md:gap-16">
        <div class="flex-1 flex flex-col gap-8 items-center">
          <div class="px-2 w-full">
            <%= render BoardNameComponent.new(:main) %>
          </div>

          <div class="mb-3 board-container">
            <%= render BoardComponent.new(Board.empty(:main)) do %>
              <%= render ShipComponent.new(
                  direction: :vertical,
                  position: [7, 6],
                  hits: [true, true, true, true, true]
                ).with_variant(:aircraft_carrier)
              %>
              <%= render ShipComponent.new(type: :battleship, direction: :vertical, position: [9, 3]).with_variant(:battleship) %>
              <%= render ShipComponent.new(type: :submarine, direction: :horizontal, position: [3, 6]).with_variant(:submarine) %>
              <%= render ShipComponent.new(type: :destroyer, direction: :horizontal, position: [3, 2]).with_variant(:destroyer) %>
              <%= render ShipComponent.new(type: :cruiser, direction: :vertical, position: [6, 3]).with_variant(:cruiser) %>
            <% end %>
          </div>

          <div class="self-start lg:ml-2 shipyard-container">
            <%= render ShipyardComponent.new %>
          </div>
        </div>

        <div class="border-t lg:border-l border-gray-5"></div>

        <div class="flex-1 flex flex-col gap-8 items-center">
          <div class="px-2 w-full">
            <%= render BoardNameComponent.new(:opponent) %>
          </div>

          <div class="mb-3 board-container">
            <%= render BoardComponent.new(Board.empty(:opponent)) %>
          </div>

          <div class="self-start lg:ml-2 shipyard-container">
            <%= render GraveyardComponent.new %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="px-4 flex justify-center gap-8">
    <%= link_to 'Components',
      components_path,
      class: 'text-gray-1 hover:underline hover:text-gray-0 transition duration-75'
    %>
    <%= link_to 'GitHub',
      'https://github.com/dankimio/battleship',
      class: 'text-gray-1 hover:underline hover:text-gray-0 transition duration-75'
    %>
  </div>
</div>
